*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

article {
  width: 400px;
  border-radius: 20px;
  outline: 1px solid lightgrey;
  background-color: white;
  box-shadow: 1px 1px 2px 2px grey;
}

img {
  width: 399px;
  border-radius: 20px 20px 0 0;
}

.img-container {
  position: relative;
}

.img-filter {
  width: 400px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(transparent, white);
}

#asics .img-container::after {
  content: "Free shipping!";
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 7px;
  border-radius: 5px;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 50%);
  color: rgba(0, 0, 0, 60%);
}

#newbalance .img-container::after {
  content: "Just one left!";
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 7px;
  border-radius: 5px;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 50%);
  color: rgba(0, 0, 0, 60%);
}

h2 {
  margin: 10px;
}

.product-description {
  margin: 10px;
  color: lightgray;
}

.selectors {
  padding: 5px 2.5px 5px 2.5px;
  border-radius: 20px;
  margin: 10px;
  display: grid;
  grid-template: 1fr 30px 30px 1fr / repeat(2, 1fr);
  grid-template-areas:
    "pricetag pricetag"
    "size quantity"
    "color1 ."
    "card card";
  background-color: lightgray;
}

.price-tag {
  grid-area: pricetag;
  border-radius: 3px;
  margin: 10px;
  text-align: center;
  background-color: white;
  color: black;
}

.size-select {
  grid-area: size;
  margin-left: 10px;
}

.color-select {
  all: unset;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.color-selector-container {
  grid-area: color1;
  width: 120px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  margin-left: 10px;
}

.color-select:checked {
  outline: 1px solid lightgray;
  box-shadow: 0 0 1px 2px gray;
}

.color-select:focus {
  outline: 1px solid lightgray;
  box-shadow: 0 0 1px 2px gray;
}

.quantity-select {
  grid-area: quantity;
}

#asics-blue {
  background-image: linear-gradient(blue, blue);
}

#asics-red {
  background-image: linear-gradient(red, red);
}

#asics-black {
  background-image: linear-gradient(black, black);
}

#adidas-greenblack {
  background-image: linear-gradient(to right, green 50%, black 50%);
}

#adidas-blueblack {
  background-image: linear-gradient(to right, blue 50%, black 50%);
}

#adidas-pinkblack {
  background-image: linear-gradient(to right, pink 50%, black 50%);
}

#newbalance-redwhite {
  background-image: linear-gradient(to right, red 50%, white 50%);
}

#newbalance-blackwhite {
  background-image: linear-gradient(to right, black 50%, white 50%);
}

button {
  all: unset;
}

.shop-success {
  border-radius: 3px;
  grid-area: card;
  background-color: darkblue;
  margin: 10px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
}
