*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
}

body {
  width: 100%;
  margin: 0;
}

article {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 20px;
  box-shadow: 1px 1px grey;
  width: 400px;
}

img {
  width: 400px;
  border-radius: 20px 20px 0 0;
  position: relative;
  z-index: 0;
  background-image: linear-gradient(to bottom, transparent 10%, white);
  background-size: 100%;
}

h2 {
  margin: 0.3em;
}

.product-description {
  margin: 0.5em;
  color: lightgray;
}

.selectors {
  background-color: lightgray;
  margin: 10px 5px 10px 5px;
  padding: 5px 2.5px 5px 2.5px;
  border-radius: 20px;
}

.price-tag {
  background-color: white;
  margin: 15px;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
  color: black;
}

.color-select {
  all: unset;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

#asics-blue {
  background-image: linear-gradient(blue, blue);
}

#asics-red {
  background-image: linear-gradient(red, red);
}

#asics-black {
  background-image: linear-gradient(black, black);
}

#adidas-greenblack {
  background-image: linear-gradient(to right, green 50%, black 50%);
}

#adidas-blueblack {
  background-image: linear-gradient(to right, blue 50%, black 50%);
}

#adidas-pinkblack {
  background-image: linear-gradient(to right, pink 50%, black 50%);
}

.color-select:checked {
  border-radius: 1px solid green;
}

[for="size-select"] {
  margin-left: 15px;
}

button {
  all: unset;
  display: block;
  background-color: dodgerblue;
  width: 88%;
  margin: 15px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  color: black;
}
